<%= form_for([@memo.user, @memo]) do |f| %>
  <% if @memo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memo.errors.count, "error") %> prohibited this memo from being saved:</h2>

      <ul>
      <% @memo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12 m8">
      <div class="input-field">
          <div class="card-panel light-blue lighten-5">
            <%= f.text_area :text ,id: "textarea1", class: "materialize-textarea", placeholder: "テキストを入力"%>
        </div>
      </div>
    </div>
  </div>

  <div class="actions waves-effect waves-light btn light-blue">
      <%= f.submit @submit %>
  </div>

<% end %>
