<!-- <nav>
  <div class="nav-wrapper light-blue">
    <a href="#!" class="brand-logo"><%= current_user.name %>さんのページ。</a>
    <ul class="right hide-on-med-and-down">
        <li><%= link_to '新規作成', new_user_memo_path(params[:user_id]), class: "waves-effect waves-light btn-large red accent-4" %></li>
        <li><%= link_to '戻る', contents_path, class: "waves-effect waves-light btn-large red accent-4" %></li>
    </ul>
  </div>
</nav>
 -->
  <div class="right-bar col s3 right">
    <ul class="collection">
      <li class="collection-item"><%= current_user.name %>さんのページ。</li>
      <li class="collection-item"><%= link_to '新規作成', new_user_memo_path(params[:user_id]), class: "waves-effect waves-light btn-large white black-text" %></li>
      <li class="collection-item"><%= link_to '戻る', contents_path, class: "waves-effect waves-light btn-large white black-text" %></li>
    </ul>
  </div>

<% @memos.each do |memo| %>
  <%= render "memo", memo: memo %>
<% end %>
